<nav>
    <ul>
        <% if (nav) { %>
            <% nav.forEach(link => { %>
                <li><a href="<%= link.path %>" title="<%= link.title %>"><%= link.title %></a></li>
            <% }) %>
        <% } %>
    </ul>
</nav>
